@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

html{
    overflow: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* color: white; */
    color: #d5d5d5;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    /* background: rgb(51,77,92); */
    /* background: rgb(32,178,170); */
    background: #334d5c; /* 96FFFF */
}

li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-decoration: none;
    color: rgb(255, 251, 245);
}

nav {
    margin-left: auto;
}

#header {

    width: 100vw;
    top: 0;
    left: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    /* background: rgb(51,77,92); */
    background: #23292e;
}

.logo {
    cursor: pointer;
}

.logo-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 64px;
    text-decoration: none;
    color: rgb(255, 251, 245);
    /* color: #F27D42; */
}

.nav__links {
    list-style: none;
    margin-left: auto;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    /* background-color: rgb(26, 26, 26, 0); */
    background-color: #55ad7a;
    padding: 4px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.nav__links li a:hover {
    /* background-color: rgb(26, 26, 26, .3); */
    background-color: #55BDCA;
}

.vignette {
    position:relative;
    top: 0;
    left: 0;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.2) inset;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    padding: 5% 20;
    padding-bottom: 70px;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex-grow: 1;
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#content-image {
    flex-grow: 1;
    flex: 1;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

.button{
    font-size: 40px;
    /* background-color: rgb(3, 33, 43); */
    /* background-color: #022449; */
    background-color: #55ad7a;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: fit-content;
    display: inline-block;
    margin:2% auto;
    padding: 5px 10px;
}

.image{
    /* margin-top: 50px; */
    margin-top: 10px;
}

.main-content {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 96px;
    text-decoration: none;
    color: rgb(255, 251, 245);
    text-align: center;
}

.main-content-about {
    font-family: "Montserrat", sans-serif;
    font-size: 46px;
    text-decoration: none;
    color: rgb(255, 251, 245);
    text-align: center;
}

.animate{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate-just-text{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 1cm;
}

  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    /* text-align: center; */
    padding: 3px;
    /* background-color: rgb(4, 145, 138); */
    background: #23292e;
    color: white;
}

.textbox {
    margin-bottom: 1cm;
    /* align-items: center;
    justify-content: center; */
    width: 50%;
}

/* trying to make gallery side-by-side images the same height */
.container .box {
    width:90%; /*540px; */
    margin:5%; /*50px;*/
    /* display:table; */
    vertical-align: top;
    margin-bottom: 1cm;
}
.container .box .box-row {
    display:table-row;
    vertical-align: top;
}
.container .box .box-cell {
    display:table-cell;
    border:0; /*1px solid black;*/
    width:25%;
    padding:10px;
    vertical-align: middle;
}
.container .box .box-text {
    display:table-cell;
    border:0; /*1px solid black;*/
    width:25%;
    padding:10px;
    vertical-align: top;
}

/* Round corners of images */
/* img {
    border-radius: 20%;
  } */

/* Project sections with background and such */
/* .container .box .box-project .box-row-project {
    display:table-row;
    vertical-align: top;
} */
.container .box .box-project {
    background-color: #1e5d88;
    border-radius: 25px;
    /* display:table-row; */
    vertical-align: top;
    /* width: 100%; */
    margin-top: 1cm;
    /* margin-bottom: 3cm; */
    /* border: 1px solid black; */
    /* padding: 15px 30px 20px 40px; */
    /* border-radius: 10%; */
    /* border-collapse:separate; */
    /* border-spacing:0 5px; */
}